<section>
  <div class="description">
    <h2><strong>Lorem ipsum dolor sit amet.</strong></h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium
      voluptas perspiciatis quasi obcaecati dicta doloribus reprehenderit
      molestiae sed modi eveniet eum consequatur, amet quibusdam dignissimos
      provident non sequi quisquam. Quo, pariatur! Dignissimos, error corporis
      numquam cupiditate doloremque quis sit aut tenetur nesciunt inventore. Eos
      dicta praesentium ut itaque culpa blanditiis.
    </p>
    <img src="assets/about-us/about-us-0.jpg" alt="" />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam rem
      delectus, itaque voluptate architecto eaque quos vero neque ad
      exercitationem quisquam qui nihil odio at laboriosam aperiam maiores
      dolores animi assumenda blanditiis aliquid quis ex sed illo. Quo labore
      suscipit quidem, unde vitae provident. Aperiam delectus ipsum consequatur
      odio voluptas deleniti nostrum quae numquam consequuntur in exercitationem
      veritatis, earum eaque libero totam magnam non. Ratione beatae quia
      consequuntur amet facilis, ab nobis et. Sint velit dicta, nemo rem
      architecto eligendi perspiciatis quas exercitationem in eveniet ipsam,
      voluptate dolorum, quos expedita doloribus voluptatem provident
      praesentium quo voluptatum at? Rerum, sunt sint, labore a est rem
      assumenda doloribus alias maiores amet velit. Eaque ullam nesciunt fugit
      praesentium. Id facilis ullam deleniti laborum adipisci dolorum eaque eius
      nulla dignissimos sint rerum amet sit facere animi cum, ad repellendus,
      molestiae fugit. Repellendus distinctio fugiat recusandae voluptates ut
      aliquam autem laboriosam illo explicabo possimus, architecto, reiciendis
      nisi, corrupti nostrum ad tempore quam soluta numquam tenetur eos in
      doloribus repudiandae! Tempora ex eveniet illum aut asperiores vitae
      reiciendis cum harum, enim vel exercitationem aspernatur ut expedita
      nostrum eaque minima iste sequi ratione? Itaque blanditiis voluptatibus
      officiis perferendis corrupti aspernatur dolore eaque ipsam quo esse!
      Impedit voluptates esse iste dolores et sed labore vero debitis officia?
      Hic, dolor perspiciatis quibusdam similique deleniti consequuntur minima
      temporibus molestiae nulla illum voluptas omnis quisquam repellendus!
      Libero nostrum officiis sit exercitationem doloremque, ipsa,
      necessitatibus veniam mollitia sunt nisi nobis? Voluptatum sunt repellat
      necessitatibus, ipsa perspiciatis deserunt, sequi est ullam odio non
      facilis labore asperiores dolorem omnis tenetur quia debitis suscipit
      nesciunt distinctio inventore. Consequatur id, sit sint ullam
      reprehenderit ex quidem natus. Architecto, nam veniam et fugiat laudantium
      deleniti, sequi obcaecati ex, quis quo itaque! Delectus aut vitae dolor
      sapiente pariatur deleniti eius facere neque? Voluptatum adipisci earum
      laudantium quae nemo!
    </p>
  </div>
</section>
